<h2> Name: <%= @shelter.name %></h2>
<p> Address: <%= @shelter.address %></p>
<p> City: <%= @shelter.city %></p>
<p> State: <%= @shelter.state %></p>
<p> Zip: <%= @shelter.zip %></p>

<br><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %></br>
<br><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %></br>
<br><%= link_to 'Pets', "/shelters/#{@shelter.id}/pets" %></br>
