<h1>The Pets Index</h1>
<% if @shelter %>
  <h3><%= "#{@shelter.name}'s Pets" %></h3>
  <p><%= @shelter.id %></p>
<% else %>
  <h3>Pets</h3>
<% end %>


<% @pets.each do |pet| %>
  <div class="grid-pet" id="pet-<%= pet.id %>">
    <p><a href="/pets/<%= pet.id %>"><%=pet.name%></a></p>
    <img src="<%= pet.image %>"<br>
    <p>Age: <%= pet.age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p>
    <br>
    <br>
  </div>
<% end %>

<% if @shelter %>
<%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %>
<% end %>
