<h1>New Animal for Adoption</h1>

<%= form_tag "/shelters/#{@shelter_id}/pets", method: :post do %>
  <%= label_tag :image %>
  <%= text_field_tag :image %>

  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :description %>
  <%= text_field_tag :description %>

  <%= label_tag :age %>
  <%= text_field_tag :age %>

  <%= label_tag :sex %>
  <%= text_field_tag :sex %>

  <%= label_tag :adoptable %>
  <%= text_field_tag :adoptable %>

  <%= submit_tag 'Create Pet'%>
<% end %>
